<!DOCTYPE HTML>
<html>
	<head>
		<script type="text/javascript" src="http://fb.me/react-0.11.1.js"></script>
		<script type="text/javascript" src="http://fb.me/JSXTransformer-0.11.1.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.js"></script>
	</head>
	<body>
		<div id="main-content">
			<span>Hello World !!! Welcome to : <%= title %></span>
		</div>
		<div id="react-contianer"></div>
		<script type="text/jsx">
			/** @jsx React.DOM */


			var DashBoard = React.createClass({

				componentWillMount : function (){
					//debugger;
				},

				componentDidMount : function (){
					//debugger;
				},

				componentWillReceiveProps : function (nextProps){
					console.log(this.state.metric);
					debugger;
				},

				shouldComponentUpdate : function (nextProps, nextState){
					return nextState.metric > 10;
				},

				getInitialState : function (){
					return {
						"metric" : 0
					};
				},

				componentWillUnmount : function(){
					document.getElementById('jumbotran').removeChild(document.getElementById('unmount-span'));
					debugger;
				},

					render : function (){
						return (
							<div id="jumbotran" className="jumbotran">
								<h3>{this.state.metric}</h3>
								<span id="unmount-span"> i have to unmount</span>
							</div>
							);
					}
			});


			var dashComponent = React.renderComponent(
					<DashBoard/>,
					document.getElementById('react-contianer'),
					function (){
						console.log('After component renders');
					} 
				);
				

		</script>
	</body>
</html>